<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>SmartDoorLock-Application</title>
  <script src="../../jquery/jquery-1.9.0.js"></script>
  <script src="../../js/common/common.js"></script>
  <link rel="stylesheet" type="text/css" href="../../css/common/common.css">
  <link rel="stylesheet" type="text/css" href="../../css/join/join.css"/>


</head>

<body>

  <div id="header">
    <div id="hd_left" style="float:left;">
      <a href="javascript:location.href='../login/login.html';">뒤로가기</a>
    </div>
    <div id="hd_center">
      회원가입
    </div>
  </div>
      
  <!-- /header -->
  <!-- 회원가입 동의 페이지 -->
  <div id="page_join">
      <div  id="content">
        <h3 style="margin-top: 30px;">서비스 이용약관</h3><hr>
        <div style="height:250px; overflow-y: scroll; text-align: left;">
          <p style="font-size:0.75em;">
            본 계약은 영어(미국)로 작성되었습니다.<br><br> 본 계약
            의 변역본과 영어본이 상충될 경우에는 영어본을
            우선으로 합니다. 섹션 16에 있는 미국 외 지역
            사용자들에 적용되는 일반 약관에 변경 내용이
            포함되어 있음을 알려드립니다.<br>
            <br>
            Smart Lock 권리 및 책임에 관한 정책<br><br>

            본 권리 및 책임에 관한 정책 ( 이하 )
            알아서 동의해라본 계약은 영어(미국)로 작성되었습니다. 본 계약
            의 변역본과 영어본이 상충될 경우에는 영어본을
            우선으로 합니다. 섹션 16에 있는 미국 외 지역
            사용자들에 적용되는 일반 약관에 변경 내용이
            포함되어 있음을 알려드립니다.<br><br>

            Smart Lock 권리 및 책임에 관한 정책<br><br>

            본 권리 및 책임에 관한 정책 ( 이하 )
            알아서 동의해라본 계약은 영어(미국)로 작성되었습니다. 본 계약
            의 변역본과 영어본이 상충될 경우에는 영어본을
            우선으로 합니다. 섹션 16에 있는 미국 외 지역
            사용자들에 적용되는 일반 약관에 변경 내용이
            포함되어 있음을 알려드립니다.<br><br>

            Smart Lock 권리 및 책임에 관한 정책<br><br>

            본 권리 및 책임에 관한 정책 ( 이하 )
            알아서 동의해라본 계약은 영어(미국)로 작성되었습니다. 본 계약
            의 변역본과 영어본이 상충될 경우에는 영어본을
            우선으로 합니다. 섹션 16에 있는 미국 외 지역
            사용자들에 적용되는 일반 약관에 변경 내용이
            포함되어 있음을 알려드립니다.<br><br>

            Smart Lock 권리 및 책임에 관한 정책<br><br>

            본 권리 및 책임에 관한 정책 ( 이하 )<br>
            알아서 동의해라<br>
          </p>
        </div>
        <hr/><br>
        <label id="page_agree_input_label" for="page_agree_input">동의 합니다.</label>
        <input type="checkbox" id="page_agree_input" class="agree" onchange="agreeInput();"/>
      </div><!-- /content -->

      <div id="btn_page_email" class="footer_btn_disactive">
        다음
      </div>
  </div>
  </body>
    <script src="../../js/join/join.js"></script>
  </html>
