.swipe{
      overflow:hidden;
      visibility:hidden;
      position:relative;
      margin-top: -20px;
    }

    .swipe-wap{
      overflow:hidden;
      position:relative;
    }

    .swipe-wrap > li {
      float: left;
      width:100%;
      position:relative;
    }

    ul{
      list-style:none;
      padding-left:0px;
    }

    .swiper-container {
      width: 100%;
      height: 100%;
      text-align: center;
    } 
    
    div.swiper-container > h1{
      font-size: 50px;
    }


#console {
  font-size: 12px;
  font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

#mySwipe div b {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  margin:10px;
  padding:100px 10px;
  box-shadow: 0 1px #EBEBEB;
  border-radius: 3px;
  border: 1px solid;
}